/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-black: #444444;

  --basic-gray: #D5D5D5;
  --basic-neutral-gray: #DFDFDF;
  --basic-dark-gray: #4D4D4D;
  --basic-light-gray: #EEEEEE;
  --basic-extra-dark: #888888;
  --basic-darkness-gray: #283136;
  --basic-lightness-gray: #666666;
  --medium-gray: #A6A6A6;
  --basic-border-gray: #DBDBDB;
  --basic-light-border-gray: #cfcfcf;
  --transparent-gray: #E1E1E1;
  --transparent-light-gray: #D7DCDF;
  --transparent-dark-gray: #ababab;

  --basic: rgba(255, 255, 255, 0.3);
  --basic-transparent-dark: rgba(0, 0, 0, 0.6);
  --basic-transparent-light: rgba(0, 0, 0, 0.3);
  --basic-transparent: rgba(0, 1, 1, 0.25);
  --basic-transparent-gray: rgba(0, 1, 1, 0.1);

  --special-red: #FB565A;
  --special-medium-red: #E74246;
  --special-dark-red: #D7373B;

  --special-green: #00CA74; 
  --special-medium-green: #00BC6C;
  --special-dark-green: #00AA62;

  --special-yellow: #EFC849;
  --special-light-yellow: #EFC84A;
  --special-meduim-yellow: #EAB534;
  --special-dark-yellow: #E5A722;
}

/* Global */

html {
  box-sizing: border-box;
}

 *, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 960px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: var(--basic-black);
  background-position: top center;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;

  margin: -1px;
  padding: 0;
}

.basket-list, .navigation-list, .advantages-list, .percent, .items, .partners-list, .socials-list, .filters-list, .filters-arrow, .catalog-list, .pages-list, .slide-list, .slide-button-list, .products-list, .order-list {
    list-style-type: none;
}

/* Header page*/

.header-page {
  width: 100%;
  background-color: var(--basic-light-gray);
}

/* Main nav */

.container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
}

.navigation {
  display: flex;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;

  text-transform: uppercase;
  background-color: var(--basic-light-gray);

  margin: 0 auto;
}

.navigation-list,
.basket-list {
  list-style: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 76px;
  padding-bottom: 5px;
  margin-left: 200px;
}

.navigation-item:not(:first-child) {
  position: relative;

  margin-left: 47px;
}

.basket-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 77px;
}

.basket {
  position: relative;
  padding-left: 40px;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-item a, 
.basket-list a {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

/* Maim logo*/

.logo {
  padding-top: 49px;
}

.logo:hover img, .logo:focus img {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

/* User nav */

.navigation-list a:hover,
.basket-item a:hover {
  color: var(--special-red);
}

.navigation-list a:active,
.basket-item a:active {
  color: var(--basic-black);
  opacity: 0.5;
}

.navigation-item-active {
  border-bottom: 1px solid;
  border-bottom-color: var(--special-red);
}


/* Slide wrapper*/

.slide-link {
  display: block;
  width: 242px;

  margin-top: 38px;
  margin-bottom: 80px;
  padding: 12px 53px;
}

.slide-link-two {
  margin-top: 26px;
}

.slide-link-three {
  margin-top: 27px;
}

.slide-wrap {
  position: relative;
  display: flex;
  
  background-color: var(--basic-light-gray);

  margin: 0 auto;
}

.slide-list {
  margin: 0;
  padding: 0;
}

.slide-item {
  display: flex;
}

.slide {
  margin-top: 68px;
}

.slide-slogan {
  width: 378px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  margin: 0;
}

.slide-tagline {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  
  color: var(--basic-darkness-gray);

  margin: 0;
  margin-top: 28px;
}

.slide-image {
  margin-top: 8px;
  margin-left: 52px;
}

.slide-image img {
  display: block;
}

.slide-button-list {
  position: absolute;
  display: flex;

  bottom: 90px;

  margin: 0;
  margin-left: 537px;
  padding: 0;
}

.slide-button-item {
  position: relative;
}

.slide-button-item button {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slide-button-active::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  background-image: url(../img/active-button.svg);
  background-repeat: no-repeat;
}

.slide-button-item:not(:first-child) {
  margin-left: 17px;
}

.slide-slogan-two {
  width: 515px;
}

.slide-tagline-two {
  width: 412px;
  margin-top: 38px;
}

.slide-image-two {
  margin: 0;
  margin-left: -19px;
  margin-top: -7px;
}
 
.slide-slogan-three {
  width: 408px;
}

.slide-tagline-three {
  width: 346px;
  margin-top: 38px;
}

.slide-image-three {
  margin-left: -10px;
  margin-top: 10px;
}

/* Products */

.products .container {
  background-color: var(--basic-white);

  margin-top: 80px;
  margin-bottom: 40px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 0;
  padding: 0;
}

.products-item {
  width: 300px;

  padding-top: 154px;
  margin-bottom: 40px;
}
 
.products-item:not(:last-child) {
  margin-right: 100px;
}
 
.products p {
  width: 247px;
  line-height: 25px;
  color: var(--basic-darkness-gray);

  margin: 0;
  padding-top: 19px;
}

.products-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.products-link {
  display: block;
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  border-radius: 4px;

  margin-top: 31px;
  padding: 13px 41px;
}

/* Button */

.button-bg {
  text-align: center;
  color: var(--basic-white);
  border: none;
  background-color: var(--special-red);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.button-bg:hover, .button-bg:focus {
  background-color: var(--special-medium-red);
}

.button-bg:active {
  color: var(--basic);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: var(--special-dark-red);
}

.red {
  position: relative;
  background-image: url(../img/advantage-picture-red.png);
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-size: 300px 146px;
}

.green {
  position: relative;
  background-image: url(../img/advantage-picture-green.png);
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-size: 300px 146px;
}

.yellow {
  position: relative;
  background-image: url(../img/advantage-picture-yellow.png);
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-size: 300px 146px;
}

.green-bg {
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--special-green);
}

.green-bg:hover, .green-bg:focus {
  background-color: var(--special-medium-green);
}

.green-bg:active {
  color: var(--basic);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: var(--special-dark-green);
}

.yellow-bg {
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--special-light-yellow);
}

.yellow-bg:hover, .yellow-bg:focus {
  background-color: var(--special-meduim-yellow);
}

.yellow-bg:active {
  color: var(--basic);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: var(--special-dark-yellow);
}

/* About us */

.about-us {
  padding-bottom: 70px;
}

.about-us .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--basic-light-gray);
}

.presentation {
  padding-top: 73px;
}

.nerds-img {
  position: relative;
  width: 360px;
  
  background-image: url(../img/nerds-picture.png);
  background-repeat: no-repeat;
  background-position: top 37px left 0;
  background-size: 360px 208px;

  padding-top: 284px;
}

.presentation-content-big {
  width: 650px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  margin: 0;
  margin-bottom: 32px;
}

.presentation-content {
  width: 620px;
  color: var(--basic-darkness-gray);

  margin: 0;
  margin-bottom: 40px;
  line-height: 25px;
}

.order-title {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--basic-darkness-gray);

  margin: 0;
  margin-bottom: 24px;
}

.order-list {
  position: relative;

  margin: 0;
  padding: 0;
}

.order-item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--special-red);

  margin-top: 10px;
}

.order-item {
  color: var(--basic-darkness-gray);

  margin-bottom: 24px;
  padding-left: 35px;
}

.order-item:last-child {
  margin-bottom: 0;
}

.advantages-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  margin-bottom: 28px;
}
 
.advantages-list {
  margin: 0;
  padding: 0;
}

.table {
  width: 391px;
}

.items {
  color: var(--basic-darkness-gray);
  line-height: 20px;

  margin: 0px;
  padding: 0;
  padding-top: 20px;
}

.percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;

  padding-top: 12px;
}

.percent sup {
  font-size: 60%;
}

/* Partners*/

.partners {
  position: relative;
}

.partners .container {
  border-top: 2px solid var(--basic-light-gray);
  border-bottom: 2px solid var(--basic-light-gray);

  padding-bottom: 39px;
  margin-bottom: 80px;
}

.partners-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin: 0;
  padding: 0;
}

.partners-item {
  position: relative;
  display: grid;

  padding-top: 47px;
}

.partners-item a {
  display: flex;
  justify-content: space-between;

  opacity: 0.2;

  margin: auto;
}

.partners-item .htmlacademy-logo {
  margin-left: 32px;
  margin-top: 15px;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.partners-item .borodinski-logo {
  margin-left: 37px;
}

.partners-item .pink-logo {
  margin-left: 58px;
}

.partners-item .mishka-logo {
  margin-left: 75px;
  margin-top: 11px;
}

.partners-item:not(:nth-child(4n))::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: 0;
  top: 65px;
  background-color: var(--basic-light-gray);
}

.partners-item:nth-child(4n+1)::before {
  right: 10px;
}

.partners-item:nth-child(4n-1)::before {
  right: -10px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.part-map {
  position: relative;
  background: url(../img/map-ya.jpg);
  background-size: cover;
  width: 100%;
  height: 416px;
  margin: 0 auto;
}

.map {
  position: relative;
  z-index: 0;
  border: 0;

  margin: 0 auto;
}

.map iframe {
  width: 100%;
}

.map::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 231px;
  height: 190px;
  right: 426px;
  top: 86px;
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
}

.contacts {
  position: absolute;
  z-index: 3;
  top: 54px;
  left: 180px;
  width: 319px;
  height: 308px;

  background-color: var(--basic-white);

  margin: 0 auto;
  padding: 0 50px;
}

.contacts h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  margin-top: 49px;
}

.contacts p {
  width: 210px;
  color: var(--basic-lightness-gray);
}

.contacts-adress {
  line-height: 18px;
  margin: 0;
  margin-top: 22px;
}

.contacts-tel {
  margin: 0;
  margin-top: 18px;
}

.tel {
  color: var(--basic-lightness-gray);

  margin: 0;
}

.write {
  display: block;
  width: 219px;
  height: 50px;

  margin-bottom: 47px;
  margin-top: 34px;
  padding: 12px 40px;
}

.part-socials {
  display: flex;

  padding: 68px 0;
}

.socials-list {
  display: flex;

  padding: 0px;
  margin: 0px;
}

.socials-item a {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

.socials-item {
  position: relative;
  width: 79px;
  height: 79px;
  background-color: var(--transparent-gray);
  border-radius: 50%;
}

.socials-item a:hover, .socials-item a:focus {
  background-color: var(--special-medium-red);
}

.socials-item a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: var(--special-dark-red);
}

.vk svg {
  position: relative;
  top: 32px;
  left: 27px;
}

.facebook svg {
  position: relative;
  top: 28px;
  left: 34px;
}

.instagram svg {
  position: relative;
  top: 30px;
  left: 30px;
}

.vk:active svg, .facebook:active svg, .instagram:active svg {
  opacity: 0.3;
}

.socials-item:not(:first-child) {
  margin-left: 12px;
}

.sale {
  margin-left: 139px;
  padding-top: 7px;
}

.friends {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.2px;

  margin: 0;
}

.sale-offer {
  line-height: 22px;
  color: var(--basic-light-black);

  margin: 0;
  padding-top: 10px;
}

/* Popup */

.modal {
  position: fixed;
  z-index: 3;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 960px;
  height: 590px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}


.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 100px;
}

.modal-title {
  margin: 0;
  padding-left: 100px;
  padding-top: 73px;
  padding-bottom: 49px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.half-width {
  margin: 0;
  width: 360px;
}

.half-width input {
  width: 100%;
  height: 50px;
  margin-top: 12px;
  padding-left: 15px;
  border: solid 2px #d7dcde;
}

.half-width:last-child {
  right: 0;
}

.half-width label, .full-width label {
  font-weight: bold;
  line-height: 1.13;
}

.full-width {
  margin: 0;
  margin-top: 36px;
  width: 100%;
}

.full-width textarea {
  width: 760px;
  height: 118px;
  margin-top: 12px;
  padding: 15px 14px;
  border: solid 2px #d7dcde;
  resize: none;
}

input::-webkit-input-placeholder, input::-moz-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.full-width textarea:hover, .half-width input:hover {
  color: rgba(68, 68, 68, 0.5);
  border: solid 2px #b4b9bb;
}

.half-width input:focus, .full-width textarea:focus {
  border: solid 2px #000000;
  color: #444444;
}

.modal-button {
  width: 260px;
  height: 50px;
  margin-top: 47px;
}

.modal-close-button {
  position: absolute;
  z-index: 2;
  right: 90px;
  top: 70px;
  padding: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-close-button svg:hover {
  opacity: 1;
}

.modal-close-button svg:active {
  opacity: 0.1;
}

.modal-show {
  display: block;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@keyframes show {
  0%  {transform: translateX(-50%) scale(0);}
  100%  {transform: translateX(-50%) scale(1);}
}

.modal-close svg {
  opacity: 0.3;
}

.modal-close:hover svg, .modal-close:focus svg {
  opacity: 1;
}

.modal-close:active svg {
  opacity: 0.1;
}

.modal-close {
  -webkit-animation-name: close;
          animation-name: close;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@keyframes close {
  0%  {transform: translateX(-50%) scale(1);}
  100%  {transform: translateX(-50%) scale(0);} 
}

.modal-error input[type="text"], .modal-error input[type="email"], .modal-error textarea {
  border: solid 2px #e74246;
  color: #e74246;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
}

@keyframes shake {
  0%, 100% {transform: translateX(-50%);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-50%) translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(-50%) translateX(10px);}
}

/* Catalog */

.promo-catalog {
  width: 100%;
  background-color: var(--basic-light-gray);
}
 
.promo-catalog .container {
  padding-bottom: 107px;
  padding-top: 67px;
}

.promo-catalog h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;

  margin: 0;
  padding-right: 19px;
}

/* Catalog filters */

.catalog-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 59px;
}

.catalog-filters {
  width: 260px;
}

.cost {
  box-sizing: content-box;
}

.cost-filter-item {
  border: none;

  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;

  margin-top: 52px;
}

.cost-filter-item legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;

  background-color: var(--basic-light-gray);
  border-radius: 5px;

  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}
 
.range-controls .scale {
  height: 2px;
  background: var(--transparent-light-gray);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;

  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--transparent-dark-gray);
  box-shadow: 0 2px 1px 0 var(--basic-light-border-gray);
  cursor: pointer;

  padding: 0;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 60px;
  color: var(--basic-darkness-gray);
  background-color: var(--basic-light-gray);

  border: none;
  border-radius: 5px;

  margin-left: 9px;
  padding: 8px 10px;
}

.max-price {
  text-align: right;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input[type='number'] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

/* Grid */

.grid {
  margin-top: 57px;
}

.grid-content, .features-content {
  border: none;

  margin: 0;
  padding: 0;
}

.grid-content p, .features-content p {
  position: relative;
  margin: 0;
}

.grid-content legend, .features-content legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.grid-item {
  line-height: 19px;
  color: var(--basic-darkness-gray);

  padding-top: 16px;
}

.grid0item:first-child {
  padding-top: 16px;
}

.grid-item:last-child {
  padding-top: 22px;
}

.grid-item:nth-child(3) {
  padding-top: 21px;
}

.grid-item label {
  display: block;

  padding-left: 35px;
}

input[type="radio"] + .grid-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

input[type="radio"]:hover + .grid-label::before, input[type="radio"]:checked:hover + .grid-label::before, input[type="radio"]:focus + .grid-label::before, input[type="radio"]:checked:focus + .grid-label::before {
  opacity: 1;
}

input[type="radio"]:disabled + .grid-label::before, input[type="radio"]:checked:disabled + .grid-label::before {
  opacity: 0.3;
}

input[type="radio"]:checked + .grid-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

/* Features */

.features {
  margin-top: 46px;
}

.features-item {
  position: relative;
  line-height: 19px;
  color: var(--basic-darkness-gray);

  padding-top: 22px;
}

.features-item:nth-child(2) {
  padding-top: 18px;
}

.features-item:nth-child(3), .features-item:nth-child(4) {
  padding-top: 21px;
}

input[type="checkbox"] + .features-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

input[type="checkbox"]:checked + .features-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

input[type="checkbox"]:hover + .features-label::before, input[type="checkbox"]:checked:hover + .features-label::before, input[type="checkbox"]:focus + .features-label::before, input[type="checkbox"]:checked:focus + .features-label::before {
  opacity: 1;
}

input[type="checkbox"]:disabled + .features-label::before, input[type="checkbox"]:checked:disabled + .features-label::before {
  opacity: 0.1;
}

.features-label {
  display: block;

  padding-left: 36px;
}
 
.show {
  margin-top: 50px;
}

.show-button {
  width: 260px;
  height: 50px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
  border: none;
  cursor: pointer;
}

.show-button:hover, .show-button:focus {
  background-color: var(--basic-neutral-gray);
}

.show-button:active {
  color: var(--basic-transparent-light);
  box-shadow: inset 0px 3px 0 0 var(--basic-transparent-gray);
  background-color: var(--basic-gray);
}

/* Catalog filters */

.catalog {
  width: 760px;
}

.filters {
  display: flex;

  margin-bottom: 47px;
}
 
.filters p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px; 
  text-transform: uppercase;

  margin: 0;  
}

.filters-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-left: 240px;
}

.filters-item a:not(.filters-active) {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-transparent-light);

  padding-left: 27px;
}

.filters-active {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);

  padding-left: 27px;
}

.filters-item a:hover:not(.filters-active), .filters-item a:focus:not(.filters-active) {
  color: var(--basic-transparent-dark);
}

.filters-item a:active:not(.filters-active) {
  color: var(--basic-black);
}

/* Catalog-list */

.filters-arrow {
  display: flex;
  flex-wrap: wrap;
  width: 40px;

  margin: 0;
  padding: 0;
  margin-left: auto;
}

.arrow-show {
  margin-left: auto;
}

.filters-arrow-up svg {
  opacity: 0.2;
  fill: var(--medium-gray);
}

.filters-arrow-down svg {
  opacity: 1;
}

.filters-arrow-up a, .filters-arrow-down a {
  width: 11px;
  height: 11px;
}

.filters-arrow-up {
  padding-left: 18px;
}

.filters-arrow-up:focus svg, .filters-arrow-up:hover svg {
  opacity: 0.5;
}

.filters-arrow-up:active svg {
  opacity: 1;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr max-content;

  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
}

.catalog-item:nth-child(even) {
  margin-left: 40px;
}

.catalog-item {
  margin-bottom: 29px;
}

.catalog-img {
  margin-top: 41px;
}

.catalog-img img {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0 var(--basic-transparent);
}

.catalog-hover {
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 231px;
  display: none;
  background-color: var(--basic-light-gray);
}

.sedona {
  display: block;
}

.catalog-item:hover .catalog-hover {
  display: block;
}

.catalog-hover-link h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  margin: 0;
  padding-top: 25px;
  padding-left: 121px;
  padding-right: 124px;
}

.catalog-hover-link h3:hover {
  color: var(--special-red);
}

.catalog-hover-link h3:active {
  opacity: 0.3;
}

.catalog-hover p {
  line-height: 18px;
  text-align: center;
  color: var(--basic-lightness-gray);

  margin: 0;
  padding: 0 85px;
  padding-top: 13px;
}

.catalog-hover-button {
  display: block;
  width: 200px;
  height: 50px;

  margin: 0 80px;
  margin-top: 33px;
  padding: 14px 60px;
}

.pink p {
  padding: 0 65px;
}

.aplus p, .kvast p {
  padding: 0 70px;
}

.browser {
  position: absolute;
}

.browser-hover {
  opacity: 0.1;
}

.catalog-item:hover .browser-hover  {
  opacity: 1;
}

/* Pages */

.pages {
  margin-top: 23px;
  margin-bottom: 60px;
}

.pages-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.pages-link {
  display: block;
  width: 50px;
  height: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-light-gray);
  border: solid 3px var(--basic-light-gray);
  color: var(--basic-black);

  padding: 13px;
}

.pages-link-active {
  background-color: transparent;
  border: solid 3px var(--basic-border-gray);
}

.pages-link:hover:not(.pages-link-active), .pages-link:focus:not(.pages-link-active) {
  border: solid 3px transparent;
  background-color: var(--basic-border-gray);
}

.pages-link:active:not(.pages-link-active) {
  color: var(--basic-transparent-gray);
  border: none;
  box-shadow: inset 0px 3px 0 0 var(--basic-transparent-gray);
  background-color: var(--basic-gray);

  padding: 15px;
}

.next {
  width: 260px;
}

.pages-item:not(:first-child) {
  margin-left: 11px;
}